
#commentsTree,
#commentsTree .virtual-flow .clipped-container .sheet .tree-cell {
    -fx-background-color: rgba(63,63,63,0.90);
}
#commentsTree .virtual-flow .clipped-container .sheet .tree-cell:odd {
    -fx-background-color: rgba(40,40,40,0.90);
}
#commentsTree .virtual-flow .clipped-container .sheet .tree-cell:selected {
    -fx-background-color: rgb(221, 152, 23);
}
#commentsTree .tree-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: rgb(221, 152, 23);
}
#commentsTree .tree-cell:selected > .tree-disclosure-node > .arrow {
    -fx-background-color: #f3f3f3;
}